@import "normalize.css";
@import "/styles/variables.scss";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #10141e;
  --text-color: #5a698f;
  --font-family-primary: "Outfit", sans-serif;
}

body {
  color: var(--text-color);
  background: var(--background);
  font-family: var(--font-family-primary);
  font-weight: 400;
}

@font-face {
  font-family: "Outfit";
  src: url("../assets/fonts/Outfit-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}
